 .u-section-1 {
  background-image: url("images/1656317288654.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-group-1 {
  width: 593px;
  margin: 44px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 1px;
}

.u-section-1 .u-form-1 {
  height: 472px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 663px;
    margin-top: 200px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }
}