 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 593px;
  margin: 201px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 120px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 120px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 472px;
  margin-top: 186px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 0;
    margin-bottom: 180px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    font-weight: 700;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-label-1 {
    font-weight: 700;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}